body{
    font: 20px Time New Roman, times;
}
.navbar{
    background-color: white;
}
.quem-somos{
    background-color:#E3F6CE;
}
.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}
.parceiros{
    background-color: #80FF00;
   
}
.margin{
    padding-bottom: 50px;
    padding-top: 50px;
}
.bg-footer{
    background-color:greenyellow;
}